<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<style>
    h1 {text-align: center;
        font-size: 40px}
    p {text-align: center;
        font-size: 25px}
</style>
<body style="background-color: skyblue;">
    <h1> Sale Management</h1>
    <p> This is my first Django project. In this project, i will learn how create a sale management system for an Ecommerce platform </p>
    <a href="{% url 'sale_management:homepage' %}"> <p style="text-align: center; color:crimson">Management</p> </a>


</body>
</html>